* {
    transition: all 0.1s;
}

#allcontainer {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background:
    /* linear-gradient(
        to bottom,
        rgba(20, 20, 20, 0.1) 10%,
        rgba(20, 20, 20, 0.7) 70%,
        rgba(20, 20, 20, 1)
      ), */
      url("https://i.imgur.com/gxVnhA8.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#book {
    position: absolute;
    top: 65%;
    left: 40%;
    width: 70%;
    height: 70%;
    transform: translate(-50%, -50%);
    /* background-image: ${ state => state.open ? "https://i.imgur.com/RBFxtQa.gif" : "https://i.imgur.com/hK1tWrJ.gif"}; */
    background-image: url(https://i.imgur.com/yQJ68EB.gif);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 25;
    animation: bookflip 3s paused;
}

@keyframes bookflip {
    0% {
        transform: perspective(3000px) translate(-50%, -50%);
        opacity: 1;
    }
    27% {
        opacity: 1;
    }
    28% {
        opacity: 0;
    }
    100% {
        transform: perspective(3000px) translate(-49%, -50%) rotateY(-180deg);
        opacity: 0;
    }
}

@keyframes bookrevflip {
    0% {
        transform: perspective(3000px) translate(-49%, -50%) rotateY(-180deg);
        opacity: 0;
    }
    31% {
        opacity: 0;
    }
    32% {
        opacity: 1;
    }
    100% {
        transform: perspective(3000px) translate(-50%, -50%);
        opacity: 1;
    }
}

#leftpage {
    position: absolute;
    top: 64.6%;
    left: 40.4%;
    width: 48.4%;
    height: 48.4%;
    transform: translate(-50%, -50%);
    background-image: url(https://i.imgur.com/10JhvFN.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 30;
    animation: leftpageflip 3s paused;
}

@keyframes leftpageflip {
    0% {
        transform: perspective(4000px) translate(-50%, -50%) rotateY(180deg);
        opacity: 0;
    }
    27% {
        opacity: 0;
    }
    28% {
        opacity: 1;
    }
    100% {
        transform: perspective(4000px) translate(-50%, -50%) rotateY(0deg);
        opacity: 1;
    }
}

@keyframes leftpagerevflip {
    0% {
        transform: perspective(4000px) translate(-50%, -50%) rotateY(0deg);
        opacity: 1;
    }
    31% {
        opacity: 1;
    }
    32% {
        opacity: 0;
    }
    100% {
        transform: perspective(4000px) translate(-50%, -50%) rotateY(180deg);
        opacity: 0;
    }
}

#rightpage {
    position: absolute;
    top: 64.6%;
    left: 40.4%;
    width: 48.4%;
    height: 48.4%;
    transform: translate(-50%, -50%);
    background-image: url(https://i.imgur.com/w6NMu4k.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 20;
    /* animation: bookflip 3s infinite running; */
}

#button1 {
    position: absolute;
    top: 69%;
    left: 42%;
    width: 120px;
    height: 100px;
    z-index: 21;
}

#button2 {
    position: absolute;
    top: 69%;
    left: 48.5%;
    width: 120px;
    height: 100px;
    z-index: 21;
}

#bookshadow {
    position: absolute;
    top: 65%;
    left: 40%;
    width: 70%;
    height: 70%;
    transform: translate(-50%, -50%);
    /* background-image: ${ state => state.open ? "https://i.imgur.com/RBFxtQa.gif" : "https://i.imgur.com/hK1tWrJ.gif"}; */
    background-image: url(https://i.imgur.com/YbvkOl9.gif);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 15;
}

#bookbutton {
    position: absolute;
    top: 64.6%;
    left: 48.5%;
    width: 18%;
    height: 48.4%;
    transform: translate(-50%, -50%);
    z-index: 30;
}

#lpcontainer {
    position: absolute;
    top: 80%;
    left: 85%;
    width: 30%;
    height: 50%;
    transform: translate(-50%, -50%) rotate(-30deg);
}

#container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(https://i.imgur.com/LS1FizP.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#group {
    position: absolute;
    width: 100%;
    height: 100%;
    /* transform: rotate(18deg); */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#glow {
    position: absolute;
    left: -8%;
    top: 4%;
    width: 100%;
    height: 100%;
    background-image: url(https://i.imgur.com/JvU1w5n.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 15;
    animation: wobble 4s ease-in-out infinite;
}

@keyframes wobble {
    0% {
        transform: rotate(-10deg);
        opacity: 1;
    }

    50% {
        transform: rotate(0deg);
        opacity: 0.6;
    }

    100% {
        transform: rotate(-10deg);
        opacity: 1;
    }
}

#record {
    position: absolute;
    left: 1%;
    top: 6%;
    width: 89%;
    height: 89%;
    background-image: url(https://i.imgur.com/PVjYXsN.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 5;
    animation: spin 3s linear infinite paused;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#arm {
    position: absolute;
    left: 30%;
    top: -43%;
    width: 100%;
    height: 130%;
    background-image: url(https://i.imgur.com/AeMbEHA.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    filter: drop-shadow(5px 5px 5px #000000);
    z-index: 20;
    animation: armwobble 10s ease-in-out infinite paused;
}

@keyframes armwobble {
    0% {
        transform: rotate(17deg);
    }

    50% {
        transform: rotate(42deg);
    }

    100% {
        transform: rotate(17deg);
    }
}

#top {
    position: absolute;
    left: 13%;
    top: 14%;
    width: 100%;
    height: 67%;
    transform: rotate(17deg);
    background-image: url(https://i.imgur.com/g2yJ9x9.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    filter: drop-shadow(5px 5px 5px #000000);
    z-index: 20;
}
