* {
    transition: all 0.1s;
}

#logincontainer {
    transition: 0;
}

#book {
    top: 70%;
    left: 50%;
    width: 1141px;
    height: 871px;
    transform: translate(-65%, -50%) scale(80%);
    /* background-image: ${ state => state.open ? "https://i.imgur.com/RBFxtQa.gif" : "https://i.imgur.com/hK1tWrJ.gif"}; */
    background-image: url(https://i.imgur.com/hK1tWrJ.gif);
    position: absolute;
    z-index: 25;
    animation: bookflip 3s paused;
}

@keyframes bookflip {
    0% {
        transform: perspective(3000px) translate(-65%, -50%) scale(80%);
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    26% {
        opacity: 0;
    }
    100% {
        transform: perspective(3000px) translate(-64%, -50%) scale(80%) rotateY(-180deg);
        opacity: 0;
    }
}

@keyframes bookrevflip {
    0% {
        transform: perspective(3000px) translate(-64%, -50%) scale(80%) rotateY(-180deg);
        opacity: 0;
    }
    35% {
        opacity: 0;
    }
    36% {
        opacity: 1;
    }
    100% {
        transform: perspective(3000px) translate(-65%, -50%) scale(80%);
        opacity: 1;
    }
}

#leftpage {
    top: 70%;
    left: 50%;
    width: 1276px;
    height: 917px;
    transform: translate(-62.5%, -50.5%) scale(52.5%);
    /* background-image: ${ state => state.open ? "https://i.imgur.com/RBFxtQa.gif" : "https://i.imgur.com/hK1tWrJ.gif"}; */
    background-image: url(https://i.imgur.com/10JhvFN.png);
    position: absolute;
    z-index: 30;
    animation: leftpageflip 3s paused;
}

@keyframes leftpageflip {
    0% {
        transform: perspective(5000px) translate(-62.5%, -50.5%) scale(52.5%) rotateY(180deg);
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    26% {
        opacity: 1;
    }
    100% {
        transform: perspective(5000px) translate(-62.5%, -50.5%) scale(52.5%) rotateY(0deg);
        opacity: 1;
    }
}

@keyframes leftpagerevflip {
    0% {
        transform: perspective(5000px) translate(-62.5%, -50.5%) scale(52.5%) rotateY(0deg);
        opacity: 1;
    }
    35% {
        opacity: 1;
    }
    36% {
        opacity: 0;
    }
    100% {
        transform: perspective(5000px) translate(-62.5%, -50.5%) scale(52.5%) rotateY(180deg);
        opacity: 0;
    }
}

#rightpage {
    top: 70%;
    left: 50%;
    width: 1276px;
    height: 917px;
    transform: translate(-62.8%, -50.5%) scale(52.5%);
    /* background-image: ${ state => state.open ? "https://i.imgur.com/RBFxtQa.gif" : "https://i.imgur.com/hK1tWrJ.gif"}; */
    background-image: url(https://i.imgur.com/w6NMu4k.png);
    position: absolute;
    z-index: 20;
    /* animation: bookflip 3s infinite running; */
}

#button1 {
    top: 74%;
    left: 41.5%;
    width: 120px;
    height: 100px;
    position: absolute;
    z-index: 21;
}

#button2 {
    top: 74%;
    left: 49.5%;
    width: 120px;
    height: 100px;
    position: absolute;
    z-index: 21;
}

#bookshadow {
    top: 70%;
    left: 50%;
    width: 1141px;
    height: 871px;
    transform: translate(-65%, -50%) scale(80%);
    background-image: url(https://i.imgur.com/YbvkOl9.gif);
    position: absolute;
    z-index: 10;
}

#bookbutton {
    top: 70%;
    left: 50%;
    width: 1141px;
    height: 871px;
    transform: translate(-65%, -50%) scale(80%);
    position: absolute;
    z-index: 30;
}

#lpcontainer {
    position: absolute;
    bottom: 20%;
    right: 35%;
    zoom: 0.5;
    transform: rotate(-30deg);
}

#container {
    width: 795px;
    height: 716px;
    background-image: url(https://i.imgur.com/LS1FizP.png);
    position: absolute;
}

#group {
    position: relative;
    bottom: 160px;
    right: 280px;
    transform: rotate(18deg);
}

#glow {
    background-image: url(https://i.imgur.com/JvU1w5n.png);
    position: absolute;
    left: 355px;
    top: 78px;
    z-index: 15;
    width: 509px;
    height: 509px;
    zoom: 1.28;
    animation: wobble 4s ease-in-out infinite;
}

@keyframes wobble {
    0% {
        transform: rotate(-10deg);
        opacity: 1;
    }

    50% {
            transform: rotate(0deg);
        opacity: 0.6;
    }

    100% {
        transform: rotate(-10deg);
        opacity: 1;
    }
}

#record {
    background-image: url(https://i.imgur.com/PVjYXsN.png);
    position: absolute;
    left: 355px;
    top: 78px;
    z-index: 5;
    width: 509px;
    height: 509px;
    zoom: 1.28;
    animation: spin 3s linear infinite paused;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
}

#arm {
    background-image: url(https://i.imgur.com/5W0cHYQ.png);
    left: 970px;
    top: 10px;
    width: 176px;
    height: 609px;
    z-index: 20;
    position: absolute;
    animation: armwobble 10s ease-in-out infinite paused;
}

@keyframes armwobble {
    0% {
        transform: rotate(5deg) translate(-15px, 5px);
    }

    50% {
        transform: rotate(18deg) translate(-53px, 18px);
    }

    100% {
        transform: rotate(5deg) translate(-15px, 5px);
    }
}

#top {
    background-image: url(https://i.imgur.com/g2yJ9x9.png);
    left: 725px;
    top: 123px;
    width: 427px;
    height: 495px;
    z-index: 20;
    position: absolute;
}