#myroomcontainer {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgb(59, 38, 4);
    background-size: cover;
}

#myroombg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://i.imgur.com/4tp0CHA.png");
    background-size: cover;
    z-index: 2;
}


#myroomshadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://i.imgur.com/Sakb4Ol.png");
    background-size: cover;
    z-index: 0;
}


#myroomlight {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mask-image: url("https://i.imgur.com/3qMUGR2.png");
    mask-size: cover;
    background-size: cover;
    z-index: 1;
}

#myroomtop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://i.imgur.com/8kH7PTW.png");
    background-size: cover;
    z-index: 30;
    pointer-events: none;
}

#myroomstick {
    position: absolute;
    top: 35%;
    left: -7%;
    width: 150%;
    height: 150%;
    transform: rotateY(0deg) rotateZ(4.5deg);
    background-image: url("https://i.imgur.com/KOosVI3.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 15;
    pointer-events: none;
}

#myroomaddbutton {
}


#myroomplaybutton {
    position: absolute;
    top: 21%;
    left: 74%;
    width: 15%;
    height: 30%;
    opacity: 0;
    background-image: url("https://i.imgur.com/HCE3tv2.png");
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(-7px -7px 5px #000000ff);
    z-index: 25;
}

#addplbutton {
    position: relative;
    top: 3%;
    left: 30%;
    width: 100%;
    height: 30%;
    align-self: center;
    justify-content: center;
    background-image: url("https://i.imgur.com/RnxkJNg.png");
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(-10px -10px 5px #000000ff);
}

#albumshelf {
    position: absolute;
    top: 5%;
    left: 12%;
    width: 50%;
    height: 78%;
    transform: rotateX(-10deg) rotateY(26deg);
    border: 25px solid #978b7f00;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-top: 60px;
    z-index: 25;
}

#gramophone {
    position: absolute;
    top: 72%;
    left: 80%;
    width: 15%;
    height: 45%;
    transform: translate(-50%, -50%);
    background-image: url(https://i.imgur.com/uJDbFek.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 30;
}